<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://localhost:4200/#/dashboard">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/#/autores">
                        Autores
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/#/libros">
                        Libros
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/#/nuevolibro">
                        Nuevo Libro
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, realizado con mucho amor por
            <a href="localhost:4200" target="_blank">Alberto Aldás</a>.
        </div>
    </div>
</footer>
