<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Evaluación Parcial 2</h4>
            <p class="card-category">Esto es lo que se hizo</p>
          </div>
          <div class="card-body">
            <div class="table-responsive table-upgrade">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="text-center">Realizado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Base de datos</td>
                    <td class="text-center">Autores y Libros<i class="fa fa-check text-success"></i></td>
                  </tr>
                  <tr>
                    <td>CRUD</td>
                    <td class="text-center">
                      Todos, Uno, Insertar, Modificar, Eliminar<i class="fa fa-check text-success"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Angular</td>
                    <td class="text-center">
                      Coponentes, Servicios, Interface, Rutas<i class="fa fa-check text-success"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Reportes</td>
                    <td class="text-center">Fpdf
                      <i class="fa fa-check text-success"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a
                        href="javascript:void(0)"
                        class="btn btn-round btn-fill btn-default disabled"
                        >Trabajo Final Realizado por Beto Aldas</a>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
